/* Reset some default styles for a cleaner base */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 768px) {
    /* Styles for smaller screens */
  }
  
  
  /* Apply global styling */
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #05245e;

  }
  
  header {
    background-color: #ffffff;
    color: #05245e;
    padding: 20px;
    display: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1.5px solid #05245e;
  }
  
  nav h1 {
    text-align: center;
    font-size: 24px;
    
    
  }

  
  nav ul {
    list-style: none;
    display:flex;
    align-items: center;
    justify-content:center;
    padding-right: 0;
    
    
  }
  
  nav li {
    margin-right: 105px;
  }
  
  nav a {
    text-decoration: none;
    color: #05245e;
    
  }

 
  
  .event-info {
    text-align: right;
  }
  
  main {
    padding-left: 20px;
    padding-top: 30px;
    text-align: left;
  }

  


  .tech-intro {
    margin: 0 auto;
    text-align: center;
  }
  
  .tech-intro h2 {
  font-size: 65px;
    position: relative;
    z-index: 2;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #000;
    margin-bottom: 20px;
    text-align: left;
    position: left;

  }
  
  .tech-intro ul {
    list-style: none;
    padding-left: 0;
  }
  
  .tech-intro li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  footer {
    text-align: center;
    padding: 8px;
    background-color: #001233;
    color: #a3a3a3;
    bottom: 0;
    width: 100%;
    
  }


  @media only screen and (max-width: 1103px) {
    nav li {
      margin-right: 85px;
    }
  }
  
  
  @media only screen and (max-width: 1087px) {
    nav li {
      margin-right: 80px;
    }
  }

  @media only screen and (max-width: 1005px) {
    nav li {
      margin-right: 75px;
    }
  }
  

  @media only screen and (max-width: 923px) {
    nav li {
      margin-right: 70px;
    }
  }

  @media only screen and (max-width: 823px) {
    nav li {
      margin-right: 55px;
    }
  }

  @media only screen and (max-width: 773px) {
    nav li {
      margin-right: 45px;
    }
  }
  
  @media only screen and (max-width: 680px) {
    nav li {
      margin-right: 37px;
    }
  }

  @media only screen and (max-width: 638px) {
    nav li {
      margin-right: 33px;
    }
  }

  @media only screen and (max-width: 589px) {
    nav li {
      margin-right: 27px;
    }
  }

  @media only screen and (max-width: 547px) {
    nav li {
      margin-right: 20px;
    }
  }

  @media only screen and (max-width: 501px) {
    nav li {
      margin-right: 15px;
    }
  }

  @media only screen and (max-width: 451px) {
    nav li {
      margin-right: 10px;
    }
  }

  @media only screen and (max-width: 421px) {
    nav li {
      margin-right: 5px;
    }
  }

  @media only screen and (max-width: 391px) {
    nav li {
      margin-right: 4px;
    }
  }
  
  @media only screen and (max-width: 385px) {
    nav li {
      margin-right: 3px;
    }
  }

  @media only screen and (max-width: 379px) {
    nav li {
      margin-right: 2px;
    }
  }

  @media only screen and (max-width: 373px) {
    nav li {
      margin-right: 1px;
    }
  }

  @media only screen and (max-width: 366px) {
    nav li {
      margin-right: 0px;
    }
  }

  

  
  




  
